* {
    box-sizing: border-box;
}

.tilesCalculator {
    background-color: #fff;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tilesCalculator .image-cover {
    background: #851d28;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tilesCalculatorimg {
    width: 40vw;
    border-radius: 5px;
}

@media (max-width: 768px) {
    img {
        width: 70vw;
    }
}

.container {
    width: 100%;
    padding: 30px;
}
h1.title {
    text-align: center;
    color: #333;
}

.input-label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

:is(.number-input, .tile-size-select, #calculate-btn) {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #bbb;
    border-radius: 10px;
    font-size: 16px;
}
:is(.number-input,.tile-size-select) {
    background: #fff;
    color: #000;
}
.tile-size-select {
    font-weight: bold;
}

#calculate-btn {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

#calculate-btn:hover {
    background-color: #45a049;
}

.result {
    background: #deffce;
    font-weight: bold;
    text-align: center;
    color: #000;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
}

:is(.result-table, td, th) {
    border: 1px solid #eee;
    padding: 8px;
}

.result-table th {
    text-align: left;
    width: 50%;
    font-size: 15pt;
    color: #497ccc;
}

.result-table td {
    font-size: 14pt;
    font-weight: 500;
}

.number-input:invalid {
    border-color: orangered;
}

.number-input:focus {
    border-color: #4caf50;
}

.tile-size-select:focus {
    border-color: #4caf50;
}
