.vehicle-card {
  width: 100%;
  height: 70px;
  background: #CCDCFF;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 60px 1fr 50px;
  align-items: center;
  padding: 10px;
  font-family: "Poppins";
 /* opacity: 0;
  animation: reveal .6s cubic-bezier(0.68, -0.55, 0.265, 1.25);*/
}
/*
.card:nth-child(2) {
  animation-delay: .1s;
}
.card:nth-child(3) {
  animation-delay: .2s;
}
.card:nth-child(4) {
  animation-delay: .3s;
}*/
.avatar-img,
.call-icon {
  background: hsla(0, 0%, 0%, 0.0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-img {
  /*margin-left: 10px;*/
  
  position: relative;
  width: 100%;
}


.content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap: 5px;
  padding-left: 10px;
  min-width: 0;
}

.content div {
  flex: 1;
}

.username {
  font-weight: bold;
}

.villagename {
  font-size: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
}

.call-icon {}

.call-icon span {
  font-size: 25pt;
  color: forestgreen;
}