section.cards-container {
  font-family: "Carter One", serif;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-bottom: 50px;
}

article {
  width: 350px;
  text-align: center;
  border: 0px solid #000;
  padding: 10px;
}

article img {
  width: 100%;
  border-radius: 10px;
}

h3 {
  margin: 0;
  color: #000;
}

article a {
  text-decoration: none;
}