.radio-toolbar {
  outline: 0px solid #ccc;
  border-radius: 5px;
  padding: 0 30px;
  margin: 20px 0;
  margin-bottom: 0;
  display: flex;
  gap: 5px;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

.radio-toolbar span {
  background-color: #ddd;
  color: #000;
  padding: 8px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar input[type="radio"]:checked+span {
  background-color: dodgerblue;
  color: #fff;
  border-radius: 10px;
}

.radio-toolbar label:hover span {
  transition: transform 0.2s;
  transform: scale(1.03);
}