.worker-finder {
  width: 100vw;
  font-family: "Poppins";
}

.worker-finder > h3 {
  padding: 5px 0;
  font-style: italic;
  margin: 20px;
  text-align: center;
  vertical-align: baseline;
  color: orangered;
  line-height: 25px;
}

.worker-finder>h3>span {
  font-size: 12pt;
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-evenly;
}

#filter-container {
  background: #eee;
  padding: 20px 0;
  margin: 15px 0;
}

#filter-container>label {
  margin-left: 10px;
  font-weight: bold;
  font-size: 15pt;
  color: #000;
}
