* {
  box-sizing: border-box;
}

.header-container header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  font-size: 14pt;
  letter-spacing: 2px;
  width: 100%;
  transition: all .5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  z-index: 99;
}

.header-container header span {
  text-align: center;
  font-family: "Carter One", serif;
}

.header-container.scrolled header {
  color: orangered;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.image-cover a {
  display: flex;
  justify-content: center;
  
}

.image-cover img {
  width: 100vw;
}

/* Menu button */
.menu-button {
  --s: 30px;                  /* Control the size */
  --c: #fff;                  /* Icon color */

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s)/2) solid #0000;
  box-sizing: content-box;

  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000) repeat-y content-box border-box;

  background:
    var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s)/10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p, 0px)) top;
  background-size:
    20% 80%,
    40% 100%;

  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition:
    background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
}

.menu-button::before,
.menu-button::after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

/* Checked state using class */
.menu-button.menu-open {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}

.menu-button.menu-open::before {
  transform: rotate(45deg);
}

.menu-button.menu-open::after {
  transform: rotate(-45deg);
}

/* Optional focus style */
.menu-button:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

.header-container.scrolled .menu-button {
  --c: orangered;
}



@media (min-width: 768px) {
  .image-cover {
    overflow: hidden;
  }
  
  .image-cover img {
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}