#filter-container {
  background: #EFF3FF;
  padding: 20px 0;
  margin: 20px 0;
}

#filter-container>label {
  margin-left: 25px;
  font-weight: bold;
  font-size: 15pt;
}


.vehicle-category {
 /* justify-content: space-between;*/
}

.vehicle-category span.icon {
  padding: 10px 20px ;
  border-radius: 15px;
}