footer {
  font-family: Times New Roman;
  width: 100vw;
  background: linear-gradient(0deg, rgb(0, 49, 255), rgb(255, 0, 225));
  color: #fff;
  padding: 30px;
  padding-bottom: 5px;
}

footer h2 {
  margin: 0;
  font-weight: bold;
}

.version {
  font-family: Monospace;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: #aaa;
}